<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adamkhoury.www" version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>mobile16</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    
    <!-- Network Access Rules -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Security Preferences -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <platform name="android">
    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Storage Permission (if needed for saving images) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</platform>

    <!-- Custom Domain Access -->
    <access origin="https://triptact.cmsa.digital" />
    <allow-navigation href="https://triptact.cmsa.digital/*" />
</widget>

